<div class="mx-4">

  <h1 class="font-bold text-2xl">Contrats</h1>
  <div class="filterForm">
    <input type="text" placeholder="Chercher un contrat" [formField]="filterForm.name">
    <select [formField]="filterForm.type">
      @for (type of SubscriptionType | keyvalue; track type.key) {
        <option [value]="type.key">{{ type.value }}</option>
      }
    </select>
  </div>
  <div>
    {{ filterForm.name().value() }}
    {{ filterForm.type().value() }}
  </div>
  <div class="flex flex-col gap-4 w-full justify-center items-center">
    @defer (when subscriptionList()) {
      @for (subscription of subscriptionList(); track subscription.id) {
        <app-subscription-details [subscription]="subscription" [routerLink]="['/client', subscription.clientId]"></app-subscription-details>
      } @empty {
        <p>No contracts to display</p>
      }
    } @placeholder (minimum 2s) {
      <div class="w-full h-full bg-slate-500 animate-pulse"></div>
    }
  </div>
  <div class="flex justify-center">
    <button>Load More</button>
  </div>
</div>
